EXPO_PUBLIC_REVENUECAT_API_KEY_IOS=

# Set to "dev" to use DEV Supabase, remove or leave empty for PROD
EXPO_PUBLIC_ENVIRONMENT=

# PROD Supabase
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_KEY=

# DEV Supabase
EXPO_PUBLIC_SUPABASE_URL_DEV=
EXPO_PUBLIC_SUPABASE_KEY_DEV=


